.nav {
  max-width: 100%;
  height: 145px;
  z-index: 1;
  background-color: #ffff;
  box-shadow: 2px 2px 2px 1px #e6e4e4;
}

.navSearchBar {
  display: flex;
  position: absolute;
  width: 425px;
  height: 54px;
  margin: 15px 73px 74px 25px;
  border-radius: 30px;
  border: 1px #ffff;
  border-color: rgb(186, 181, 181);
  box-shadow: 0 5px 15px 0 #e6e4e4;
}

.searchBarIcon {
  position: absolute;
  margin: 17px 370px 17px 19px;
}

.searchText1 {
  margin: 10px 4px 26px 58px;
  width: 341px;
  height: 20px;
  font-size: 14px;
  line-height: 20.02px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.searchText2 {
  width: 341px;
  height: 20px;
  padding-left: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 20.02px;
  position: absolute;
  margin: 30px 4px 10px 54px;
  font-weight: 200;
}

.navFilterBtn {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
  float: right;
  margin: 22px 15px 8px 11px;
  border-color: rgb(175, 178, 182);
}

.filterBtn {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 12px 12px 12px 12px;
}

.iconCarousel {
  width: 500px;
  height: 80px;
  margin-top: 65px;
  margin-left: 20px;
  z-index: 2;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.iconCarousel::-webkit-scrollbar {
  height: 0;
}

.iconPositioning {
  display: flex;
  width: 800px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
}

.iconTxtContainer {
  display: flex;
  text-align: center;
  width: auto;
}

.iconTxt {
  flex: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 20.02px;
  text-align: center;
  letter-spacing: normal;
  white-space: nowrap;
  margin-top: 5px;
}

.iconTxtContainer:hover {
  border-bottom: 3px solid black;
  width: auto;
}

.cardSection {
  width: 600px;
  height: 600px;
  position: relative;
}

.guestBtn {
  display: flex;
  justify-content: start;
}

.guestFav {
  width: 124px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #dddddd;
  border: 1px solid grey;
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 5px 15px 0 #7a7878;
}

.guestTxt {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  white-space: nowrap;
  font-size: 14px;
}

.imgSize {
  width: 500px;
  height: 452px;
  border-radius: 10px;
  margin: 24px 24px 0 24px;
}

.descriptionContainer {
  width: 500px;
  height: 120px;
  margin-left: 24px;
  display: flex;
  justify-content: space-between;
}

.propertyInfo {
  height: fit-content;
  font-size: 14px;
  font-weight: 300;
  line-height: 20.02px;
  float: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.starRateContainer {
  display: flex;
  width: auto;
  height: 20px;
  margin-top: 15px;
}

.ratings {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 14px;
  width: auto;
}

.starIcon {
  width: 10px;
  height: 10px;
  align-self: center;
}

.price {
  text-decoration: underline;
}

.heartIcon {
  display: flex;
  margin-right: 50px;
  position: absolute;
  right: 50px;
  top: 50px;
}
