body {
  margin: 0;
  padding: 0;
  max-width: 32em;
}

/* ----------------------------------- NavBar section starts here -----------------------------------*/

.nav {
  width: 100%;
  height: 115px;
  background-color: #ffff;
  box-shadow: 2px 2px 2px 1px #e6e4e4;
  position: sticky;
  z-index: 100;
  padding: 15px;
}

.navSearchBar {
  display: flex;
  position: absolute;
  width: 425px;
  height: 54px;
  margin: 0 73px 74px 0px;
  border-radius: 30px;
  border: 1px #ffff;
  border-color: rgb(186, 181, 181);
  box-shadow: 0 5px 15px 0 #e6e4e4;
}

.searchBarIcon {
  position: absolute;
  margin: 17px 370px 17px 19px;
}

.searchText1 {
  margin: 10px 4px 26px 58px;
  width: 341px;
  height: 20px;
  font-size: 14px;
  line-height: 20.02px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.searchText2 {
  width: 341px;
  height: 20px;
  padding-left: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 20.02px;
  position: absolute;
  margin: 30px 4px 10px 54px;
  font-weight: 200;
}

.navFilterBtn {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
  float: right;
  margin: 8px 15px 8px 435px;
  border-color: rgb(175, 178, 182);
  position: absolute;
}

.filterBtn {
  width: 16px;
  height: 16px;
  margin: 12px 12px 12px 12px;
}

.iconCarousel {
  width: 100%;
  height: 88px;
  margin-top: 45px;
  margin-left: 1px;
  z-index: 2;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.iconCarousel::-webkit-scrollbar {
  height: 0;
}

.iconPositioning {
  display: flex;
  width: 800px;
  height: 88px;
  align-items: center;
  margin-top: 1px;
  margin-right: 2px;
}

.iconPositioning:hover {
  cursor: pointer;
}

.iconTxtContainer {
  display: flex;
  text-align: center;
  width: auto;
  height: 88px;
  padding-top: 44px;
  margin-right: 14px;
  margin-left: 14px;
}

.iconTxt {
  flex: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 20.02px;
  text-align: center;
  letter-spacing: normal;
  white-space: nowrap;
  margin-top: 5px;
}

.iconTxtContainer:hover {
  border-bottom: 3px solid black;
  width: auto;
}

/* ----------------------------------- PopUpMenu section starts here -----------------------------------*/

.popUpMenuContainer1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 112px;
  z-index: 100;
  box-shadow: 0 1px 1px 0 #e6e4e4;
  background-color: #f7f7f7;
  bottom: 0;
}

.learnAboutContainer {
  display: flex;
  margin-top: auto;
  width: 100%;
  height: 48px;
  border: 1px solid #c0c0c0;
  justify-content: center;
  position: relative;
}

.learnAboutContainer:hover {
  cursor: pointer;
}

.learnTxt {
  width: auto;
  margin-top: 15px;
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 20.02px;
  text-align: center;
  letter-spacing: normal;
  font-weight: 450;
  font-size: medium;
}

.popUpMenuContainer2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #ffff;
  border-top: 1px solid rgb(231, 231, 231);
  box-shadow: 0 1px 1px 0 #e6e4e4;
  color: #717171;
  box-sizing: border-box;
}

.iconTxtContainer2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.iconTxtContainer2:hover {
  color: #e81948;
  cursor: pointer;
}

.accountIcons {
  margin-bottom: 30px;
  height: 20px;
  width: 24px;
}

.accountTxt {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 20.02px;
  text-align: center;
  letter-spacing: normal;
}

/* ----------------------------------- PropertyCard section starts here -----------------------------------*/

.cardSection {
  width: 100%;
  height: 550px;
  margin-top: 25px;
  position: relative;
}

.cardSection:hover {
  cursor: pointer;
}

.guestBtn {
  position: absolute;
  left: 40px;
  top: 10px;
  width: 130px;
  height: 35px;
  margin-left: 10px;
  margin-top: 10px;
}

.guestFav {
  width: 124px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 5px 15px 0 #7a7878;
}

.guestTxt {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  white-space: nowrap;
  font-size: 14px;
}

.imgSize {
  width: 450px;
  height: 430px;
  border-radius: 10px;
  margin-left: 18px;
}

.descriptionContainer {
  width: 450px;
  height: 120px;
  margin-left: 24px;
  display: flex;
  justify-content: space-between;
}

.propertyInfo {
  height: fit-content;
  font-size: 14px;
  font-weight: 300;
  line-height: 20.02px;
  float: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.starRateContainer {
  display: flex;
  width: auto;
  height: 20px;
  margin-top: 15px;
  margin-right: 5px;
}

.ratings {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 14px;
  width: auto;
  align-self: center;
}

.starIcon {
  width: 10px;
  height: 10px;
  align-self: center;
  margin-right: 5px;
}

.price {
  text-decoration: underline;
}

.heartIconContainer {
  position: absolute;
  top: 20px;
  left: 430px;
}

/* ----------------------------------- Show more section start here -----------------------------------*/

.showMoreFullContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 150px;
  margin-bottom: 30px;
  border-top: 1px solid rgb(183, 183, 183);
  margin-top: 20px;
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
}

.textContainer {
  height: 30px;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: absolute;
  margin-top: 25px;
}

.showMoreTxt {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.showMoreBtnContainer {
  width: 100%;
  height: 74px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 45px;
}

.showMoreBtn {
  background-color: black;
  border-radius: 10px;
  border: none;
  width: 133px;
  height: 48px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.showMoreBtn:hover {
  opacity: 0.85;
  cursor: pointer;
}

/* ----------------------------------- Footer section starts here -----------------------------------*/

.footerContainer {
  width: 100%;
  margin-left: 0;
  height: 915px;
  border-top: 1px solid rgb(183, 183, 183);
  background-color: #f7f7f7;
  font-size: 14px;
}

.footerContainer .supportInfo {
  margin-top: 5px;
  padding-top: 20px;
  margin-left: 25px;
}

.footerHeader {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0;
}

.hostingInfo,
.airBnbInfo,
.siteInfo {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgb(183, 183, 183);
  margin-top: 20px;
  padding-top: 20px;
}

.siteInfo {
  height: 230px;
  background-color: #f7f7f7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 20.02px;
  letter-spacing: normal;
}

.siteInfoContainer {
  position: relative;
  height: 20px;
  line-height: 2em;
}

.globeSvg {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.languageMoney {
  display: flex;
  font-weight: 500;
  height: 40px;
}

.language {
  margin-left: 8px;
}

.currency {
  margin-left: 28px;
}

ul {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 20.02px;
  letter-spacing: normal;
  list-style-type: none;
  padding: 0;
}

li {
  line-height: 2em;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}
